https://www.digikey.com/products/en?keywords=602-2193-ND
https://www.digikey.com/products/en?keywords=A24-HABUF-P5I-ND

Product family: XB3-24
Function set: Digi XBee3 Zigbee 3.0
Firmware version: 1009

Coordinator XBee: Network_GateWay

CE: Device Role: Form Network [1]
ID: Extended PAN ID: 5432
KY: Link Key: 00
NK: Trust Center Network Key: 00
NI: Node Identifier: Network_GateWay
BD: UART Baud Rate: 57600
AP: API Enable: MicroPython REPL [4]
PS: MicroPython Auto Start: Enabled [1]
File System Public Key: (Solar Public Key)

End Device: XBee: Power_Controller

ID: Extended PAN ID: 5432
JN: Join Notification: 1
KY: Link Key: 00
NK: Trust Center Network Key: 00
NI: Node Identifier: Power_Controller
BD: UART Baud Rate: 57600
AP: API Enable: MicroPython REPL [4]
PS: MicroPython Auto Start: Enabled [1]
File System Public Key: (Solar Public Key)
D1: DIO1/AD1 Configuration: I2C SCL [6]
P1: DIO11 Configuration: I2C SDA [6]

End Device: XBee: Network_Probe

ID: Extended PAN ID: 5432
JN: Join Notification: 1
KY: Link Key: 00
NK: Trust Center Network Key: 00
NI: Node Identifier: Network_Probe
BD: UART Baud Rate: 57600
AP: API Enable: API Mode Without Escapes [1]
AO: API Output Mode: 1
File System Public Key: (Solar Public Key)

