https://www.digikey.com/products/en?lang=en&site=us&KeyWords=602-1558-ND
https://www.digikey.com/products/en?lang=en&site=us&KeyWords=A24-HASM-450-ND

Firwmare: 405F

Gateway Xbee: (13A200 415636FB)
PAN ID: 5432
Coordinator Enable: Enabled [1]
57600

Sensor 1:
PAN ID: 5432
Destination Address High: 13A200
Destination Address Low: 415636FB
Boost Mode Disabled:
57600
D7 SDIO7: Disable (0)
SM Sleep Mode: Pin Hibernate (1)


Sensor 2:
PAN ID: 5432
Destination Address High: 13A200
Destination Address Low: 415636FB
Boost Mode Disabled:
57600
D7 SDIO7: Disable (0)
SM Sleep Mode: Pin Hibernate (1)

